<%# app/views/shops/_form.html.erb %>

<% if shop.errors.any? %>
  <div style="color: red; margin-bottom: 20px;">
    <h4><%= shop.errors.count %>件のエラーがあります：</h4>
    <ul>
      <% shop.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= form_with model: shop, local: true do |f| %>
    <div>
      <%= f.label :name, "店名" %><br>
      <%= f.text_field :name %>
    </div>

    <div>
      <%= f.label :address, "住所" %><br>
      <%= f.text_field :address %>
    </div>

    <div>
      <%= f.label :genre_id, "ジャンル" %><br>
      <%= f.collection_select :genre_id, Genre.all, :id, :name, prompt: "ジャンルを選択してください" %>
    </div>

    <div>
      <%= f.label :images, "店舗の写真" %><br>
      <%= f.file_field :images, multiple: true, accept: "image/*" %>
    </div>

    <div>
      <%= f.label :block_id, "地域ブロックID" %><br>
      <%= f.collection_select :block_id, Block.all, :id, :name, prompt: "エリアを選択してください" %>
    </div>

    <div>
      <%= f.label :city_id, "市町村" %><br>
      <%= f.collection_select :city_id, City.all, :id, :name, prompt: "市町村を選択してください" %>
    </div>

    <div>
      <%= f.submit shop.new_record? ? "登録する" : "更新する" %>
    </div>
<% end %>

