<h1><%= @shop.name %></h1>
<p>♡ <%= @shop.shop_favorites.count %> 件のお気に入り</p>
<p>住所：<%= @shop.address %></p>
<p>ジャンル：<%= @shop.genre.name %></p>

<% if @shop.images.attached? %>
  <h3>店舗写真</h3>
  <div style="display: flex; gap: 10px; flex-wrap: wrap;">
    <% @shop.images.each do |image| %>
      <%= image_tag image, style: "width: 200px; border-radius: 8px;" %>
    <% end %>
  </div>
<% end %>


<% if user_signed_in? %>
  <% if current_user.shop_favorites.exists?(shop_id: @shop.id) %>
    <%= link_to shop_shop_favorite_path(@shop), 
        data: { turbo_method: :delete, turbo_confirm: "お気に入りを解除しますか？" },
        class: "btn btn-outline-danger" do %>
      ♥ お気に入り解除
    <% end %>
  <% else %>
    <%= link_to shop_shop_favorite_path(@shop), 
        data: { turbo_method: :post },
        class: "btn btn-outline-primary" do %>
      ♡ お気に入り登録
    <% end %>
  <% end %>  
<% end %>

<%= link_to "編集する", edit_shop_path %>
<%= link_to "一覧に戻る", shops_path(@shop) %>
<%= link_to "削除する", shop_path(@shop), data: { turbo_method: :delete, turbo_confirm: "本当に削除しますか？"} %>

<hr>

<h3>投稿一覧</h3>

<% if @shop.posts.any? %>
  <% @shop.posts.order(created_at: :desc).each do |post| %>
    <div style="margin: 8px 0; border-bottom; 1px solid #ccc, padding-bottom: 5px;">
      <p>
        <strong><%= post.user.name if post.user %></strong>
          (<%= post.created_at.strftime("%Y/%m/%d %H:%M") %>)
      </p>
      <p><%= simple_format(h(post.content)) %></p>
      <% if post.user == current_user %>
        <%= link_to "編集", edit_shop_post_path(@shop, post), style: "margin-left: 10px;" %>
        <%= link_to "削除", shop_post_path(@shop, post), 
              data: { turbo_method: :delete, turbo_confirm: "この投稿を削除しますか？" }, 
              style: "color: red; margin-left: 10px;" %>
      <% end %>
    </div>
  <% end %>
<% else %>
  <p>まだ投稿はありません。</p>
<% end %>

<h2>新規投稿</h2>

<% if user_signed_in? %>
  <%= render "posts/form", post: @shop.posts.build, shop: @shop %>

<% else %>
  <p>コメントを投稿するにはログインが必要です。</p>
<% end %>

<hr>
