<h1><%= @user.name %>さんのページ</h1>

<p>
  フォロー中：
  <%= link_to "#{@user.followings.count}人", followings_user_path(@user) %>
  フォロワー：
  <%= link_to "#{@user.followers.count}人", followers_user_path(@user) %>
</p>

<p>
  💬投稿数：<%= @user.posts.count %>件<br>
  ♡お気に入り店舗数：<%= @user.shop_favorites.count %>件<br>
  ⭐️平均評価：
  <% if @user.posts.any? %>
    <% avg = @user.posts.average(:rating_overall).to_f.round(1) %>
    <% full = avg.floor %>
    <% frac = avg - full %>

    <%= avg %>
    <% 5.times do |i| %>
      <% if i < full %>
        <span style="color: gold;">★</span>
      <% elsif i == full && frac >= 0.5 %>
        <span style="color: gold;">☆</span>
      <% else %>
        <span style="color: #ccc;">★</span>
      <% end %>
    <% end %>
  <% else %>
    投稿はまだありません
  <% end %>
</p>

<hr>

<% unless current_user == @user %>
  <% if current_user.following?(@user) %>
    <%= button_to "フォロー解除", user_relationships_path(@user), method: :delete, class: "btn btn-outline-secondary", style: "margin-bottom: 10px;" %>
  <% else %>
    <%= button_to "フォローする", user_relationships_path(@user), method: :post, class: "btn btn-primary", style: "margin-bottom: 10px;" %>
  <% end %>
<% end %>

<h2>プロフィール</h2>
<p>メールアドレス：<%= @user.email %></p>
<p>自己紹介：<%= @user.profile.presence || "未設定" %></p>
<%  if @user.profile_image.attached? %>
  <%= image_tag @user.profile_image, size: "150x150", class: "rounded-full" %>
<% else %>
  <p>プロフィール画像は未設定です</p>
<% end %>

<% if current_user == @user %>
  <div style="margin-top: 10px;">
    <%= link_to "プロフィールを編集する", edit_user_registration_path, class: "btn" %>
  </div>
<% end %>

<hr>

<h2>愛犬情報</h2>

<% if @user.dog.present? %>
  <p>犬の名前：<%= @user.dog.name %></p>
  <p>犬種：<%= @user.dog.breed %></p>
  <p>犬のサイズ：<%= @user.dog.size_jp %></p>
  <% if @user.dog.dog_image.attached? %>
    <%= image_tag @user.dog.dog_image, size: "200x200" %>
  <% else %>
    <p>写真はまだ登録されていません</p>
  <% end %>
<% else %>
  <p>愛犬情報は未登録です。</p>
<% end %>

<hr>

<h2>お気に入り店舗一覧</h2>

<% if @favorite_shops.any? %>
  <ul>
    <% @favorite_shops.each do |shop| %>
        <li>
          <%= link_to shop.name, shop_path(shop) %> (<%= shop.city.name %>)
        </li>
    <% end %>
  </ul>
<% else %>
  <p>お気に入り登録された店舗はありません。</p>
<% end %>
