<%# app/views/posts/_form.html.erb %>

  <!-- 総合評価 -->
  <div class="mb-3">
    <%= f.label :rating_overall, "総合評価", class: "form-label" %>
    <%= f.select :rating_overall, 
        options_for_select(1..5, post.rating_overall), 
        { prompt: "選択してください" },
        class: "form-select"
    %>
  </div>

  <!-- 料理の評価 -->
  <div class="mb-3">
    <%= f.label :rating_food, "料理の評価", class: "form-label" %>
    <%= f.select :rating_food, 
        options_for_select(1..5, post.rating_food), 
        { prompt: "選択してください" },
        class: "form-select" 
    %>
  </div>

  <!-- 犬連れやすさ -->
  <div class="mb-3">
    <%= f.label :rating_dog_friendliness, "犬連れやすさ", class: "form-label" %>
    <%= f.select :rating_dog_friendliness, 
        options_for_select(1..5, post.rating_dog_friendliness), 
        { prompt: "選択してください" },
        class: "form-select" 
    %>
  </div>

  <!-- 犬のサイズ-->
  <div class="mb-3">
      <p class="form-label">一緒に行った犬のサイズ</p>
      
      <div class="form-check">
        <%= f.radio_button :dog_size, :small, class: "form-check-input", id: "dog_size_small" %>
        <%= f.label :dog_size_small, "小型犬", class: "form-check-label" %>
      </div>

      <div class="form-check">
        <%= f.radio_button :dog_size, :medium, class: "form-check-input", id: "dog_size_medium" %>
        <%= f.label :dog_size_medium, "中型犬", class: "form-check-label" %>
      </div>

      <div class="form-check">
        <%= f.radio_button :dog_size, :large, class: "form-check-input", id: "dog_size_large" %>
        <%= f.label :dog_size_large, "大型犬", class: "form-check-label" %>
      </div>
    </div>

    <!-- コメント -->
    <div class="mb-3">
      <%= f.label :content, "コメント", class: "form-label" %>
      <%= f.text_area :content, rows: 3, placeholder: "コメントを入力してください", class: "form-control" %>
    </div>

    <!-- 写真アップロード -->
    <div class="mb-3">
      <%= f.label :images, "写真をアップロード（複数可）", class: "form-label" %>
      <%= f.file_field :images, multiple: true, accept: "image/*", class: "form-control" %>
    </div>

    <!-- 訪問日 -->
    <div class="mb-3">
      <%= f.label :visited_on, "訪問日", class: "form-label"%>
      <%= f.date_field :visited_on, class: "form-control" %>
    </div>

    <!-- 送信ボタン -->
    <div class="mt-4 d-grid gap-2">
      <%= f.submit post.new_record? ? "投稿する" : "更新する",
            class: "btn btn-primary btn-lg" %>
    </div>
    
