<div class="container py-4">
<h2>タイムライン</h2>

  <% if @posts.any? %>
    <% @posts.each do |post| %>
      <div class="card mb-4 shadow-sm"">
        <div class="card-body">

        <!-- ユーザー名 -->
        <div class="d-flex align-items-center mb-2">
          <!-- アイコン -->
          <% if post.user.respond_to?(:avatar) && post.user.avatar.attached? %>
            <%= image_tag post.user.avatar.variant(resize_to_fill: [40, 40]),
                  class: "rounded-circle me-2",
                  style: "width: 40px; height: 40px; object-fit: cover;" %>
          <% else %>
            <!-- デフォルトアイコン -->
            <%= image_tag "default_user.png",
                  class: "rounded-circle me-2",
                  style: "width: 40px; height: 40px; object-fit: cover;" %>
          <% end %>

          <!-- ユーザー名-->
          <strong>
            <%= link_to post.user.name, 
                  user_path(post.user), 
                  class: "text-decoration-none",
                  style: "color: #333;" %>
          </strong>
        </div>

        <!-- 店舗名 -->
        <h5 class="card-subtitle mb-2  text-muted">
          <%= link_to post.shop.name, shop_path(post.shop), class: "text-decoration-none" %>
        </h5>

        <!-- 投稿日 -->
        <p class="text-muted small mb-2">
          投稿日：<%= post.created_at.strftime("%Y/%m/%d %H:%M") %>
        </p>

        <!-- 星評価 -->
        <div class="mb-2">
          <% 5.times do |i| %>
            <span class="<%= i < post.rating_overall.to_i ? 'text-warning' : 'text-muted' %>">
              ★
            </span>
          <% end %>
        </div>

        <!-- 本文（短くして表示） -->
        <% if post.images.attached? %>
          <div class="d-flex gap-2 flex-wrap mb-3">
            <% post.images.first(3).each do |img| %>
              <%= image_tag img.variant(resize_to_limit: [250, 250]),
                    class: "img-fluid rounded shadow-sm",
                    style: "max-width: 200px" %>
            <% end %>
          </div>
        <% end %>

        <!-- いいねボタン -->
        <div>
          <% if post.favorited_by?(current_user) %>
            <%= button_to shop_post_post_favorite_path(post.shop, post),
                  method: :delete,
                  class: "btn btn-danger btn-sm rounded-pill" do %>
              ❤︎ いいね済み
            <% end %>
          <% else %>
            <%= button_to shop_post_post_favorite_path(post.shop, post),
                  method: :post,
                  class: "btn btn-outline-danger btn-sm rounded-pill" do %>
              ♡いいね
            <% end %>
          <% end %>
        </div>

        </div>
      </div>
    <% end %>

  <% else %>
    <p>フォローしている人の投稿はまだありません。</p>
  <% end %>
</div>
